body {
    font-family: Arial, sans-serif;
    background-color: #a1f3a1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

div {
    background-color:white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

label {
    font-size: 18px;
}

input {
    padding: 8px;
    font-size: 16px;
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #cad714;
    color:white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #25a556;
}

p {
    font-size: 18px;
    margin-top: 10px;
}
